.container{
    padding: 20px;
    background-color: #d7b37e;
    text-align: center;
}

.header {
    background-color: #1d2675;  
    text-align: left;
}


.pizzas {
  display: flex;
  flex-wrap: wrap;      
  gap: 20px;         
  justify-content: center; 
}

.pizza {
  width: 200px;        
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

.menu {
    background-color: beige;
}

.footer {
    background-color: rgb(211, 190, 144);
}